{% extends "layouts/cms.twig" %}

{% block subtitle "Teksty statyczne" %}

{% block main %}
  <header class="header header-page cf">
    <h1 class="heading heading-page">{{ block("subtitle") }}</h1>
  </header>

  {% if translations|length > 0 %}
    {% form.open current_uri, {"class":"form"} %}
      {% set i18n_langs = langs %}

      {% for key, langs in translations %}
        {% if langs[lang.code].category != category %}

          {% set category = langs[lang.code].category %}

          {% if not loop.first %}</fieldset>{% endif %}

          <fieldset class="fields {{ category|length ? "" : "fields-plain" }}">
            {{ h.lang_tabs(i18n_langs, loop.index) }}
            {% if category|length %}
              <legend><span>{{ category }}</span></legend>
            {% else %}
              <legend><span>Inne</span></legend>
            {% endif %}
        {% endif %}

        <div class="field">
          {% for translation in langs %}
            <div data-lang="{{ translation.lang.code }}">
              {% form.label "form-"~key|urltitle, translation.label|default(translation.key)|replace(" ", "&nbsp;"), {"class":"label", "title":translation.label|default(translation.key)} %}
              {% if translation.textarea %}
                {% form.textarea key~"["~translation.lang.code~"]", translation.value, {"class":"big", "rows":3, "id":"form-"~key|urltitle} %}
              {% else %}
                {% form.input key~"["~translation.lang.code~"]", translation.value, {"class":"big", "id":"form-"~key|urltitle} %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}

      </fieldset>

      <fieldset class="buttons">
        <button class="button button-positive button-main left">Zapisz zmiany</button>
      </fieldset>
    {% form.close 0 %}
  {% else %}
    <div class="message message-info message-centered">
      <p>Nie ma jeszcze żadnych tekstów do tłumaczenia.</p>
    </div>
  {% endif %}
{% endblock %}