{% extends "layouts/cms.twig" %}

{% block subtitle "Ustawienia" %}

{% block main %}
  <header class="header header-page cf">
    <h1 class="heading heading-page">{{ block("subtitle") }}</h1>
  </header>

  {% form.open current_uri, {"class":"form"} %}
    <fieldset class="fields">
      <legend><span>Witryna</span></legend>

      <div class="field">
        {% form.label "form-site-title", "Tytuł", {"class":"label"} %}
        {% form.input "site_title", settings.site_title, {"class":"normal", "id":"form-site-title"} %}
        <p class="hint block">Tytuł witryny wyświetlany na pasku i/lub karcie przeglądarki. Na stronie głównej wyświetlany będzie tylko on. Na pozostałych podstronach tekst w formacie <code>{{ "<nazwa podstrony> | <tytuł witryny>"|e }}</code>.</p>
      </div>

      <div class="field">
        {% form.label "form-site-description", "Opis", {"class":"label"} %}
        {% form.textarea "site_description", settings.site_description, {"class":"big", "rows": 3, "id":"form-site-description"} %}
        <p class="hint block">Zawartość tagu <code>{{ '<meta name="description">'|e }}</code> odpowiadającego za opis witryny w wynikach wyszukiwarek.</p>
      </div>

      <div class="field">
        {% form.label "form-site-keywords", "Słowa kluczowe", {"class":"label"} %}
        {% form.textarea "site_keywords", settings.site_keywords, {"class":"big", "rows": 3, "id":"form-site-keywords"} %}
        <p class="hint block">Zawartość tagu <code>{{ '<meta name="keywords">'|e }}</code> używanego do określenia zawartości witryny poprzez dobór odpowiednich słów kluczowych.</p>
      </div>

      <div class="field">
        {% form.label "form-site-default-lang", "Domyślny język", {"class":"label"} %}
        <select name="site_default_lang" id="form-site-default-lang">
          {% for lang in langs %}
            <option value="{{ lang.code }}"{{ lang.code == settings.site_default_lang ? " selected" : "" }}>{{ lang.name }}</option>
          {% endfor %}
        </select>
        <p class="hint block">Wersja językowa, która będzie wyświetlana domyślnie po wejściu na <a href="{% url "site-index", {} %}" rel="external">{{ base_url }}{% url "site-index", {} %}</a>.</p>
      </div>
    </fieldset>

    {% block custom %}{% endblock %}

    <fieldset class="buttons">
      <button class="button button-positive button-main left">Zapisz zmiany</button>
    </fieldset>
  {% form.close 0 %}
{% endblock %}