{% extends "layouts/cms.twig" %}

{% block subtitle "Logowanie"|trans %}

{% block body %}
  <section id="content" class="wrapper wrapper-login" role="main">
    <header class="header header-page cf">
      <h1 class="heading heading-page">{{ settings.project_name }} <em>CMS</em></h1>
    </header>

    <hr>

    {% if request.method == "POST" %}
      <div class="message message-error message-centered">
        <p>{{ "Podane hasło jest błędne."|trans }}</p>
      </div>
    {% endif %}

    {% form.open current_uri, {"class":"form", "novalidate":"novalidate"} %}

      <fieldset class="fields fields-plain">
        <div class="field">
          {% form.label "form-username", "Login"|trans, {"class":"label"} %}
          {% form.input "username", request.post("username"), {"id":"form-username", "class":"medium"} %}
        </div>
        <div class="field">
          {% form.label "form-password", "Hasło"|trans, {"class":"label"} %}
          {% form.password "password", request.post("password"), {"id":"form-password", "class":"medium"} %}
          <p class="hint block"><a href="#">{{ "Nie pamiętasz hasła?"|trans }}</a></p>
        </div>
        <div class="field field-plain">
          <label for="form-remember">
            {% form.checkbox "remember", 1, request.post("remember"), {"id":"form-remember"} %}
            {{ "Zapamiętaj mnie"|trans }}
          </label>
        </div>
      </fieldset>

      <fieldset class="buttons">
        <p class="left"><a href="{% url "site-index", {} %}">&larr; {{ "Powróć na stronę"|trans }}</a> {{ "jeśli trafiłeś tu przez przypadek"|trans }}.</p>
        <button class="button button-positive button-main right">{{ "Zaloguj"|trans }}</button>
      </fieldset>
    {% form.close {} %}
  </section>
{% endblock %}