{% extends "layouts/application.twig" %}

{% import "helpers/admin.twig" as h %}

{% block title %}{% block subtitle %}{% endblock %} | {{ settings.project_name }} Admin{% endblock %}

{% block head %}
  <link href="{{ base_uri~"padamini/styles/boxy.css"|fversion }}" rel="stylesheet">
  <link href="{{ base_uri~"padamini/styles/jwysiwyg.css"|fversion }}" rel="stylesheet">
  <link href="{{ base_uri~"padamini/styles/main.css"|fversion }}" rel="stylesheet">
  <link href="{{ base_uri~"padamini/styles/custom.css"|fversion }}" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script src="{{ base_uri~"padamini/scripts/boxy/src/javascripts/jquery.boxy.js"|fversion }}"></script>
  <script src="{{ base_uri~"padamini/scripts/jwysiwyg/jquery.wysiwyg.js"|fversion }}"></script>
  <script src="{{ base_uri~"padamini/scripts/jwysiwyg/controls/wysiwyg.colorpicker.js"|fversion }}"></script>
  <script src="{{ base_uri~"padamini/scripts/jwysiwyg/controls/wysiwyg.image.js"|fversion }}"></script>
  <script src="{{ base_uri~"padamini/scripts/jwysiwyg/controls/wysiwyg.link.js"|fversion }}"></script>
  <script src="{{ base_uri~"padamini/scripts/main.js"|fversion }}"></script>
  <script src="{{ base_uri~"padamini/scripts/custom.js"|fversion }}"></script>
{% endblock %}

{% block body %}
  <body>
    {% block header %}
      <header role="banner">
        <div class="wrapper top clearfix">
          <div class="title">
            <h3><a href="{% url "admin-index", {} %}" class="to-index left"><em>{{ settings.project_name }}</em> Admin</a></h3>
            <a href="{% url "site-index", {} %}" class="title-action left external">{{ "Odwiedź stronę"|trans }}</a>
          </div>

          <div class="user-panel">            
            {% if current_user.loaded %}
              <p>{{ "Zalogowany jako"|trans }} <em>{{ current_user.name|default(current_user.username) }}</em></p>
            {% endif %}
            <a href="{% url "admin-session-logout", {} %}" class="title-action left">{{ "Wyloguj"|trans }}</a>
          </div>
        </div>

        <nav role="navigation">
          <h4 class="outline">{{ "Główna nawigacja"|trans }}</h4>
          <ul class="wrapper tabs clearfix">
            {% block navigation %}
              <li {{ h.selected_if(request, ["settings"]) }}>
                <a href="{% url "admin-settings-index", {} %}">{{ "Ustawienia"|trans }}</a>
              </li>
              <li {{ h.selected_if(request, ["translations"]) }}>
                <a href="{% url "admin-translations-index", {} %}">{{ "Tłumaczenia"|trans }}</a>
              </li>
            {% endblock %}
          </ul>
        </nav>

        <div class="subnavigation">
          <ul class="wrapper clearfix">
            {% block subnavigation %}
              <li><a href="#">Management</a></li>
              <li class="selected"><a href="#">Categories</a></li>
              <li><a href="#">Parameters</a></li>
              <li><a href="#">Stats</a></li>
              <li><a href="#">Payments</a></li>
            {% endblock %}
          </ul>
        </div>
      </header>
    {% endblock %}

    <section role="main" id="main" class="wrapper clearfix">
      {{ flashes|raw }}

      {% if errors|length %}
        <div class="message message-error">
          <p>{{ "Przy wysyłaniu formularza wystąpiły poniższe błędy"|trans }}:</p>
          <ul>
            {% for error in errors %}
              {% if error|length %}
                <li>{{ error|raw }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% block main %}{% endblock %}

      {% if pagination %}
        {{ pagination|raw }}
      {% endif %}
    </section>

    <footer class="wrapper clearfix" role="contentinfo">
      <p>{{ "Interfejs napędzany przez"|trans }} <a href="http://github.com/lamberski/padamini">Padamini</a>.</p>
    </footer>
  </body>
{% endblock %}