{% extends "layouts/application.twig" %}

{% block language %}pl{% endblock %}

{% block title %}| {{ project_name|length ? project_name : "Project's name" }} Admin{% endblock %}

{% block head %}
  <link href="{{ base_uri~"admin/styles/boxy.css"|fversion }}" rel="stylesheet">
  <link href="{{ base_uri~"admin/styles/jwysiwyg.css"|fversion }}" rel="stylesheet">
  <link href="{{ base_uri~"admin/styles/main.css"|fversion }}" rel="stylesheet">
  <link href="{{ base_uri~"admin/styles/custom.css"|fversion }}" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script src="{{ base_uri~"admin/scripts/boxy/src/javascripts/jquery.boxy.js"|fversion }}"></script>
  <script src="{{ base_uri~"admin/scripts/jwysiwyg/jquery.wysiwyg.js"|fversion }}"></script>
  <script src="{{ base_uri~"admin/scripts/jwysiwyg/controls/wysiwyg.colorpicker.js"|fversion }}"></script>
  <script src="{{ base_uri~"admin/scripts/jwysiwyg/controls/wysiwyg.image.js"|fversion }}"></script>
  <script src="{{ base_uri~"admin/scripts/jwysiwyg/controls/wysiwyg.link.js"|fversion }}"></script>
  <script src="{{ base_uri~"admin/scripts/main.js"|fversion }}"></script>
  <script src="{{ base_uri~"admin/scripts/custom.js"|fversion }}"></script>
{% endblock %}

{% block body %}
  <body>
    {% block header %}
      <header role="banner">
        <div class="wrapper top clearfix">
          <div class="title">
            <h3><a href="{% url "admin-index", {} %}" class="to-index left"><em>{{ project_name|length ? project_name : "Project's name" }}</em> Admin</a></h3>
            <a href="{% url "site-index", {} %}" class="title-action left external">{{ "Odwiedź stronę"|trans }}</a>
          </div>

          <div class="user-panel">            
            {% if current_user.loaded %}
              <p>{{ "Zalogowany jako"|trans }} <em>{{ current_user.name|default(current_user.username) }}</em></p>
            {% endif %}
            <a href="{% url "admin-session-logout", {} %}" class="title-action left">{{ "Wyloguj"|trans }}</a>
          </div>
        </div>

        <nav role="navigation">
          <h4 class="outline">{{ "Główna nawigacja"|trans }}</h4>
          <ul class="wrapper tabs clearfix">
            {% block navigation %}
              <li><a href="#">Dashboard</a></li>
              <li class="selected"><a href="#">Comments <small>12</small></a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">Orders <small>5</small></a></li>
              <li><a href="#">Users</a></li>
              <li><a href="#">Static pages</a></li>
              <li><a href="#">Parameters</a></li>
            {% endblock %}
          </ul>
        </nav>

        <div class="subnavigation">
          <ul class="wrapper clearfix">
            {% block subnavigation %}
              <li><a href="#">Management</a></li>
              <li class="selected"><a href="#">Categories</a></li>
              <li><a href="#">Parameters</a></li>
              <li><a href="#">Stats</a></li>
              <li><a href="#">Payments</a></li>
            {% endblock %}
          </ul>
        </div>
      </header>
    {% endblock %}

    <section role="main" id="main" class="wrapper clearfix">
      {{ flashes|raw }}

      {% if errors|length %}
        <div class="message message-error">
          <p>{{ "Przy wysyłaniu formularza wystąpiły poniższe błędy"|trans }}:</p>
          <ul>
            {% for error in errors %}
              {% if error|length %}
                <li>{{ error|raw }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% block main %}{% endblock %}

      {% if pagination %}
        {{ pagination|raw }}
      {% endif %}
    </section>

    <footer class="wrapper clearfix" role="contentinfo">
      <p>{{ "Interfejs napędzany przez"|trans }} <a href="http://github.com/lamberski/padamini">Padamini</a>.</p>
    </footer>
  </body>
{% endblock %}