{% extends "cms/layouts/admin.twig" %}

{% block title %}{{ "Logowanie"|trans }} {{ parent }}{% endblock %}

{% block body %}
  <body>
    <a href="#main" class="accessibility"></a>
    <div role="main" id="main" class="wrapper login">
      <header class="header header-page clearfix">
        <h1 class="heading heading-page">{{ settings.project_name }} <em>Admin</em></h1>
      </header>

      {% if request.method == "POST" %}
        <div class="message message-error message-centered">
          <p>{{ "Podane hasło jest błędne."|trans }}</p>
        </div>
      {% endif %}

      {% form.open current_uri, {"class":"form"} %}
        <fieldset class="fields fields-plain">
          <div class="field">
            {% form.label "form-password", "Hasło"|trans, {"class":"label"} %}
            {% form.password "password", null, {"id":"form-password", "class":"medium"} %}
          </div>
        </fieldset>

        <fieldset class="buttons">
          <p class="left"><a href="{% url "site-index", {} %}">&larr; {{ "Powróć na stronę"|trans }}</a> {{ "jeśli trafiłeś tu przez przypadek"|trans }}.</p>
          <button class="button button-create button-main right">{{ "Zaloguj"|trans }}</button>
        </fieldset>
      {% form.close {} %}
      </form>
    </div>
  </body>
{% endblock %}